{% extends 'myapp/base.html' %} {%block content %}
<div class="white-fg">
    <style>
        .search-container {
            width: 100%;
            /* Điều chỉnh chiều rộng tùy ý */
            margin: 0 auto;
            /* Để canh giữa */
            padding-top: 10px;
            /* padding-bottom: 10px; */
            padding-left: 120px;
        }
        
        .search-form {
            width: 120%;
            height: 40px;
            display: flex;
            justify-content: left;
        }
        
        .input-group {
            width: 85%;
        }
        
        .form-control {
            width: 100%;
        }
    </style>

    <div class="row" id="topper">
        <div class="col col-md-3">
            <h2 style="font-family: 'Lobster', cursive; font-size: 40px; padding-top: 10px;">Welcome {{user.last_name}}</h2>
        </div>
        <div class="col col-md-5">
            <div class="search-container browse" style="background-color: rgb(2, 59, 59);">
                <form action="{% url 'search' %}" method="get" class="search-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Movie By Name" name="q">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                      <i class="bi bi-search"></i>
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="topper">
        <h3 style="color: #FFC200; text-align: center;margin-top:-7px ;margin-bottom: -2px;">Browse by Category</h3>
    </div>
    <div class="row" id="topper">
        <div class="col-md-4"></div>
        <style>
            .dropdown-menu a {
                font-weight: bold;
            }
            
            .dropdown-menu a:hover {
                background-color: #f84f07;
                color: #fff;
                border-radius: 10px;
            }
        </style>
        <div class="col-md-2 listing">
            <div class="dropdown" style="display: flex; justify-content:center;">
                <button class="dropdown-toggle drop-style" type="button" id="genreselect" data-bs-toggle="dropdown" aria-expanded="false">
                    Genre
        </button>
                <ul class="dropdown-menu" style="background-color: rgb(0, 0, 0); overflow-y: scroll; max-height: 400px;" id="genre-dropdown-menu" aria-labelledby="genreselect">
                    <li><a class="dropdown-item" href="{% url 'search' %}?genre=&q=">All</a></li>
                    <li><a class="dropdown-item" href="{% url 'search' %}?genre=Action">Action</a></li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Adventure">Adventure</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Animation">Animation</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Comedy">Comedy</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Crime">Crime</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Documentary">Documentary</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Drama">Drama</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Family">Family</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Fantasy">Fantasy</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=History">History</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Horror">Horror</a></li>
                    <li><a class=" dropdown-item " href="{% url 'search' %}?genre=Music">Music</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Mystery">Mystery</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Romance">Romance</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Science Fiction">Science Fiction</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=TV Movie">TV Movie</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=Animation">Thriller</a></li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=War">War</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=War">Family</a> </li>
                    <li><a class="dropdown-item " href="{% url 'search' %}?genre=western&">Western</a>
                </ul>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#genre-dropdown-menu a").click(function() {
                    var genre = $(this).attr("href").split("=")[1].replace("&q", "");
                    $("#genreselect").text($(this).text());
                    $("#genreselect").val(genre);
                    $("#search-form").submit();
                });
            });
        </script>

        <div class="col-md-2 listing">
            <div class="dropdown" style="display: flex; justify-content:center;">
                <button class="dropdown-toggle drop-style" type="button" id="language" data-bs-toggle="dropdown" aria-expanded="false">
                Language
            </button>
                <ul class="dropdown-menu" style="background-color: black;overflow-y: scroll; max-height: 400px;" id="language-dropdown-menu" aria-labelledby="language">
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=&q=">All</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=English">English</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=French">French</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=German">German</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=Vietnamese">Vietnamese</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=Hindi">Hindi</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=Telugu">Telugu</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=Tamil">Tamil</a></li>
                    <li><a class="dropdown-item" href="{% url 'search'%}?lang=Kannada">Kannada</a></li>
                </ul>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $("#language-dropdown-menu a").click(function() {
                    var lang = $(this).attr("href").split("=")[1].replace("&q", "");
                    $("#language").text($(this).text());
                    $("#language").val(lang);
                    $("#search-form").submit();
                });
            });
        </script>
    </div>
    <div class="container-fluid ">
        <div class="row mb-4 mt-2 ">
            {% for movie in page_obj %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 movie-selector ">
                <div class="card card-style mt-2 mb-2 ">
                    <img src="{{ movie.poster}} " class="card-img-top " height='400px' alt="image ">
                    <div class="card-body ">
                        <h5 class=" m-info card-title text-center mb-1 pink-fg title-style ">{{movie.title}}</h5>
                        <p style="display:flex; justify-content: center; " class="white-fg ">
                            <i class="bi bi-star-fill " style="color: gold; margin-right:5px; "></i> {% if movie.rating %}
                            <b style="color: #ffffff; "> {{movie.rating}}/10</b> {% else %}
                            <b> No ratings</b> {% endif %}
                        </p>
                        <p class="m-info "><i class="bi bi-calendar m-r "></i>{{movie.year}}</p>
                        <p class="m-info yellow-fg genre-info ">{{movie.genre}}</p>
                        <p class="m-info green-fg lang-info ">{{movie.lang}}</p>
                    </div>
                    <div class="d-grid gap-2 btn-style ">
                        <a href="{% url 'moviepage' movie.id user.id %} " class="btn btn-outline-info btn-sm ">View More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

            <style>
                .pagination {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .step-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .pagination a {
                    color: #000;
                    font-weight: bold;
                    text-decoration: none;
                    margin: 0 5px;
                    padding: 8px 12px;
                    border-radius: 10px;
                    background-color: #FFA500;
                    transition: background-color 0.5s ease;
                }
                
                .pagination a:hover {
                    background-color: #FFC200;
                }
                
                .current-page {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 0 20px;
                    color: #FFFFFF;
                    animation: pulse 2s ease-in-out infinite;
                }
                
                @keyframes pulse {
                    0% {
                        transform: scale(1);
                    }
                    50% {
                        transform: scale(1.1);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                
                .step-links a {
                    transition: transform 0.2s ease-in-out;
                }
                
                .step-links a:hover {
                    transform: scale(1.2);
                }
            </style>

            <div class="pagination ">
                <span class="step-links ">
                    {% if page_obj.has_previous %}
                        <a href="?page=1 ">&laquo; First</a>
                        <a href="?page={{ page_obj.previous_page_number }} ">&lsaquo; Previous</a>
                    {% endif %}
            
                    <span class="current-page ">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span> {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }} ">Next &rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }} ">Last &raquo;</a> {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock%}